[Unit]
Description=D-Link DCH-S160 Water Sensor Monitor
After=network.target

[Service]
ExecStartPre=/bin/sleep 10
ExecStart=/home/pi/water_sensors/bin/python -u water_sensors.py
WorkingDirectory=/home/pi/water_sensors
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
