[Unit]
Description=D-Link DCH-S160 Water Sensor Monitor
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u water_sensors.py
WorkingDirectory=/home/pi/sensors
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
